body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  h1{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(134, 117, 117);
  }
  .container {
    margin-top: 20px;
    background-color: #dbdbdb;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #413838;
    margin: 5px 0;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }
  
  .btn {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
  }
  